src/main/mule/mule-lint-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mule-lint-demoFlow" doc:id="1e5726da-aa75-4ae1-8167-a76538349773" >
		<logger level="INFO" doc:name="Logger" doc:id="98e29018-9a7f-4820-b610-5999ae447ae9" message='#["hi"]'/>
		<ee:transform doc:name="Transform Message" doc:id="e700f9e7-a8b3-4527-9bb4-7287d1c29e3d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
